@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap");

@import "screen/mainscreen.css";

* {
  font-family: Consolas;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.background-gradient {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
}
